body {
    background-color: #48e;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

.box {
    width: 100%;
    height: 100px;
    margin: 20px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC27k0dwe5QZXEt1WsZuJ99uwXUkrk_ws0sA&s") top / cover fixed #6fa;
}

.opaco {
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2 {
    padding: 20px;
    text-align: center;
}